@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: "Inter", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Start  Media queries */
/* Small Screen */
@media (min-width: 768px) {
}

/* medium Screen */
@media (min-width: 992px) {
}

/* Large Screen */
@media (min-width: 1200px) {
}

/* End Media queries */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* End of Global Rules */
.image{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/Images/image\ 53.png") no-repeat center center;
  background-size: cover;
}
.image2{
  background: url("./assets/Images/image\ 55.png") no-repeat center center ;
  background-size: cover;
}