@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: "Inter", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Start  Media queries */
/* very small screen */
@media (max-width:460px){
  .home{
    height: fit-content;
  }
  .car-content{
    grid-template-columns: 1fr;
  }
}
/* Small Screen */
@media (min-width: 460px) {
  .car-content{
    grid-template-columns: 1fr 1fr;
  }
  .car-button{
    /* width: 70%; */
  }
}

/* medium Screen */
@media (min-width: 992px) {
  .car-content{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Large Screen */
@media (min-width: 1200px) {
}

/* End Media queries */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* End of Global Rules */
.image{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("/image\ 53.png") no-repeat center center;
  background-size: cover;
}
.image2{
  background: url("image\ 55.png") no-repeat center center ;
  background-size: cover;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    