@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: "Inter", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Start  Media queries */
/* very small screen */
@media (max-width:460px){
  .home{
    height: fit-content;
  }
  .car-content{
    grid-template-columns: 1fr;
  }
}
/* Small Screen */
@media (min-width: 460px) {
  .car-content{
    grid-template-columns: 1fr 1fr;
  }
}

/* medium Screen */
@media (min-width: 992px) {
  .car-content{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Large Screen */
@media (min-width: 1200px) {
}

/* End Media queries */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* End of Global Rules */
.image{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/Images/image53.png") no-repeat center center;
  background-size: cover;
}
.image2{
  background: url("./assets/Images/image55.png") no-repeat center center ;
  background-size: cover;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 